body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --body-grey: #EBEEF5;
    --nav-grey: #F7F6FF;
    --font-blue: #02577A; 
    --line-grey: #C4C4C4;
    --font-grey: #C4C4C4;
    

}

