body {
    height: 100vh;
    position: relative;
    background-color: var(--body-grey);
}

body > .navigation{
    display:inline-block;
    width: 100px;
    height: 100vh;
    background-color: var(--nav-grey);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    overflow: hidden;
    position:fixed;
}

.navigation:hover{
    width: 206px;
    transition: width 0.5s;
    align-items: center; 
}

.logo{
    width: 68px;
    height: 34px;
    margin: auto;
    display: block;
}

 .navigation > .line{
    width: 62.24px;
    height: 2px;
    background-color: var(--line-grey);
    border-color:var(--line-grey);
    margin: auto;
    display: block;
    margin-top: 20px;
}

.navigation > .main-links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px; 
    
}

.main-links > .links{
    width: 100%;
    height: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 0px;
    line-height: 25px;
    color: var(--font-grey);
    text-decoration: none;
    margin-top: 30px;
    padding: 15px;
    width: 206px;
}

a:first-child{
    width:100%;
    height: 34px;
    display:block;
    margin-top: 52px;
}

.navigation:hover > .main-links > .links{
    font-size: 18px;
}
.links:first-child{
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 25px 0px 0px 25px;
    text-decoration: none;
    transition: width 0.5s;
}
.links:hover{
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 25px 0px 0px 25px;
    text-decoration: none;
    transition: width 0.5s;
}
.icon{
    width:25px;
    height:25px;
    margin-left: 37px;
}
.games-icon{
    width: 40px;
    margin-left: 30px;
}

body > main{
    width: 100vh;
    margin-left: 100px;
    display: inline-block;
}

main > .greet{
    float:left;
    height: 80px;
    width: 341px;
    margin-left: 106px;
    margin-top: 89px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}

main > .padding{
  
  
}


.text{
    margin-left: 19px;
    margin-top: 41px;
    text-align: center;
}

.bottom{
    position:absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.bottom > .bottom-line{
    width: 346.01px;
    height: 1px;
    background-color: var(--font-blue);
    border-color: var(--font-blue);
    margin-bottom: 10px;
    
}
.bottom > .bottom-link{
    color: var(--font-blue);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    margin-left:30%;
}

