/*4) Susikuriame global.css failą kur susikuriame :root'e spalvas, nurodome body elemento savybes ir font-family 
(jei reikia pasiimame iš google fonts) visą kitą kodą (layout‘ui) rašysime atskirame css file. Nepamirštame
 prilinkinti.*/

 body,
 body * {
     margin: 0;
     padding: 0;
     vertical-align: top;
     box-sizing: border-box;
 }
 
 body {
     font-family: "Monsterrat", sans-serif;
 }